<div class="nested-fields">
  <%= f.input :numerocivique %>
  <%= f.input :rue %>
  <%= f.input :codepostal %>
  <%= f.input :ville %>
  <%= f.input :province %>
  <%= link_to_remove_association "retirer l'adresse", f %>
</div>