<tr>
  <td><%= f.input :numerocivique, label: false %></td>
  <td><%= f.input :rue, label: false %></td>
  <td><%= f.input :codepostal, label: false %></td>
  <td><%= f.input :ville, label: false %></td>
  <td><%= f.input :province, label: false %></td>
  <td>
    <%= link_to_remove_association "Retirer une adresse", f, class: 'btn btn-primary btn-xs' %>
  </td>
</tr>