<%= simple_form_for @client do |f| %>

  <div class="form-check">
  <%= f.input :nom%>
  <%= f.input :prenom %>
  <%= f.input :datenaissance %>
  <%= f.input :nas %>
  <%= f.input :nombreenfants %>
  <%= f.input :comptetaxesproprietaire %>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <%= link_to '| Adresses |', '#adresses', data: {toggle: 'tab'} %>
    </li>
    <li>
      <%= link_to '| Etudes |', '#studies', data: {toggle: 'tab'} %>
    </li>
    <li>
      <%= link_to '| Institutions |', '#institutions', data: {toggle: 'tab'} %>
    </li>
    <li>
      <%= link_to '| Conjoint |', '#conjoint', data: {toggle: 'tab'} %>
    </li>
    <li>
      <%= link_to '| Employeurs |', '#employeurs', data: {toggle: 'tab'} %>
    </li>
    <li>
      <%= link_to '| Enfants |', '#enfants', data: {toggle: 'tab'} %>
    </li>
    <li>
      <%= link_to '| Etat_civils |', '#etat_civils', data: {toggle: 'tab'} %>
    </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="adresses" role="tabpanel">
    </div>

    <div class="tab-pane" id="studies" role="tabpanel">
      <table>
        <thead>
        <tr>
          <th>Secteur d'études</th>
          <th>Niveau</th>
          <th>Date de début</th>
          <th>Date de complétion</th>
        </tr>
        </thead>
        <tbody class="studies">
        <%= f.simple_fields_for :studies do |study| %>
          <%= render 'study_fields', f: study %>
        <% end %>
        </tbody>
      </table>

      <div class="form-actions">
        <%= f.button :submit %>
        <%= link_to_add_association 'Ajouter une etude', f, :studies, class: 'btn btn-primary', data: {
            association_insertion_node: '.studies', association_insertion_method: :append } %>
      </div>
    </div>

    <div class="tab-pane" id="employeurs" role="tabpanel">
      <table>
        <thead>
        <tr>
          <th>Nom</th>
        </tr>
        </thead>
        <tbody class="employeurs">
        <%= f.simple_fields_for :employeurs do |employeur| %>
          <%= render 'employeur_fields', f: employeur %>
        <% end %>
        </tbody>
      </table>

      <div class="form-actions">
        <%= f.button :submit %>
        <%= link_to_add_association 'Ajouter un employeur', f, :employeurs, class: 'btn btn-primary', data: {
            association_insertion_node: '.employeurs', association_insertion_method: :append } %>
      </div>
    </div>

    <div class="tab-pane" id="institutions" role="tabpanel">
      <table>
        <thead>
        <tr>
          <th>Nom</th>
        </tr>
        </thead>
        <tbody class="institutions">
        <%= f.simple_fields_for :institutions do |institution| %>
          <%= render 'institution_fields', f: institution %>
        <% end %>
        </tbody>
      </table>

      <div class="form-actions">
        <%= f.button :submit %>
        <%= link_to_add_association 'Ajouter une institution', f, :institutions, class: 'btn btn-primary', data: {
            association_insertion_node: '.institutions', association_insertion_method: :append } %>
      </div>
    </div>

    <div class="tab-pane" id="enfants" role="tabpanel">
      <table>
        <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Date de naissance</th>
        </tr>
        </thead>
        <tbody class="enfants">
        <%= f.simple_fields_for :enfants do |enfant| %>
          <%= render 'enfant_fields', f: enfant %>
        <% end %>
        </tbody>
      </table>

      <div class="form-actions">
        <%= f.button :submit %>
        <%= link_to_add_association 'Ajouter un enfant', f, :enfants, class: 'btn btn-primary', data: {
            association_insertion_node: '.enfants', association_insertion_method: :append } %>
      </div>
    </div>

    <div class="tab-pane" id="etat_civils" role="tabpanel">
      <table>
        <thead>
        <tr>
          <th>Type</th>
        </tr>
        </thead>
        <tbody class="etat_civils">
        <%= f.simple_fields_for :etat_civils do |etatcivil| %>
          <%= render 'etat_civil_fields', f: etatcivil %>
        <% end %>
        </tbody>
      </table>

      <div class="form-actions">
        <%= f.button :submit %>
        <%= link_to_add_association 'Ajouter un état civil', f, :etat_civils, class: 'btn btn-primary', data: {
            association_insertion_node: '.etat_civils', association_insertion_method: :append } %>
      </div>
    </div>

  </div>

  <div class="actions">
    <%= f.button :submit, :disable_with => 'Please wait ...' %>
  </div>
<% end %>