<div class="nested-fields">

    <%= f.input :secteuretudes %>
    <%= f.input :niveau %>
    <%= f.input :datedebut %>
    <%= f.input :datecompletion %>
</div>
  <div class="institutions">
    <%= f.simple_fields_for :institutions do |institution|
    %><%= render 'institution_fields', :f => institution %>
    <% end %>
    <div class="links">

    </div>
  </div>