<tr class="nested-fields">
  <td><%= f.input :secteuretudes %></td>
  <td><%= f.input :niveau %></td>
  <td><%= f.input :datedebut %></td>>
  <td><%= f.input :datecompletion %></td>
  <td>
    <%= link_to_remove_association "Retirer une étude", f, class: 'btn btn-primary btn-xs' %>
  </td>
</tr>