<h1>Liste des clients
</h1>
<table class="table">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @clients.each do |client|
  %>
    <tr>
      <td><%= client.nom %>
      </td>
      <td>
        <%= link_to 'Show', client, class: 'btn btn-default btn-xs' %>
        <%= link_to 'Edit', edit_client_path(client), class: 'btn btn-default btn-xs' %>
        <%= link_to 'Destroy', client, :confirm => 'Vous en êtes certain?', :method => :delete, class: 'btn btn-xs btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Nouveau client', new_client_path %>