<div class="alert alert-warning">
  <p>
    Voici les informations du client.
  </p></div>
<table class="table">
  <tr>
    <td>Nom</td>
    <td>
      <%= @client.nom %>
    </td>
  </tr>
  <tr>
    <td>Prénom</td>
    <td>
      <%= @client.prenom %>
    </td>
  </tr>
  <tr>
    <td>Date de naissance</td>
    <td>
      <%= @client.datenaissance %>
    </td>
  </tr>
  <tr>
    <td>NAS</td>
    <td>
      <%= @client.nas %>
    </td>
  </tr>
  <tr>
    <td>Nombre d'enfants</td>
    <td>
      <%= @client.nombreenfants %>
    </td>
  </tr>
  <tr>
    <td>Compte taxes propriétaire</td>
    <td>
      <%= @client.comptetaxesproprietaire %>
    </td>
  </tr>
</table>
<h3>Adresse</h3>

<table class="table">
  <% @client.adresses.each do |adr|
  %>
  <tr>
    <th>Numéro civique</th>
    <th>Rue</th>
    <th>Code postal</th>
    <th>Ville</th>
    <th>Province</th>
  </tr>
  <tr>
    <td> <%= adr.numerocivique %> </td>
    <td> <%= adr.rue %> </td>
    <td> <%= adr.codepostal %> </td>
    <td> <%= adr.ville %> </td>
    <td> <%= adr.province %> </td>
  </tr>
  <% end %>
</table>

<h3>Enfants</h3>
<table class="table">
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Date de naissance</th>
  </tr>
  <% @client.enfants.each do |enfant|
  %>
    <tr>
      <td><%= enfant.nom %>
      </td>
      <td><%= enfant.prenom %>
      </td>
      <td><%= enfant.datenaissance %>

      </td>
    </tr>
  <% end %></table>
<h3>Etats civils</h3>

  <table class="table">
    <tr>
      <th>Type</th>
    </tr>
    <% @client.etat_civils.each do |etat|
    %>
      <tr>
        <td><%= etat.typee %>
        </td>
      </tr>
    <% end %></table>
<h3>Employeurs</h3>
<table class="table">
  <tr>
    <th>Nom</th>
  </tr>
  <% @client.employeurs.each do |employeur|
  %>
    <tr>
      <td><%= employeur.nom %>
      </td>
    </tr>
  <% end %>
  </table>
<h3>Études</h3>
<table class="table">
  <tr>
    <th>Secteur d'études</th>
    <th>Niveau</th>
    <th>Date de début</th>
    <th>Date de complétion</th>
  </tr>
  <% @client.studies.each do |study|
  %>
    <tr>
      <td><%= study.secteuretudes %></td>
      <td><%= study.niveau %></td>
      <td><%= study.datedebut %></td>
      <td><%= study.datecompletion %></td>
    </tr>
  <% end %>
</table>
<h3>Institutions</h3>
<table class="table">
  <tr>
    <th>Nom</th>
  </tr>
  <% @client.institutions.each do |institution|
  %>
    <tr>
      <td><%= institution.nom %></td>
    </tr>
  <% end %>
 </table>

<%= link_to 'Edit', edit_client_path(@client) %> | <%= link_to 'Back', clients_path %>