<div class="alert alert-warning">
  <p>
    Voici les informations du client.
  </p></div>
<table class="table">
  <tr>
    <td>Nom</td>
    <td>
      <%= @client.nom %>
    </td>
  </tr>
  <tr>
    <td>Prenom</td>
    <td>
      <%= @client.prenom %>
    </td>
  </tr>
  <tr>
    <td>Date de naissance</td>
    <td>
      <%= @client.datenaissance %>
    </td>
  </tr>
  <tr>
    <td>NAS</td>
    <td>
      <%= @client.nas %>
    </td>
  </tr>
  <tr>
    <td>Nombre d'enfants</td>
    <td>
      <%= @client.nombreenfants %>
    </td>
  </tr>
  <tr>
    <td>Compte taxes propriétaire</td>
    <td>
      <%= @client.comptetaxesproprietaire %>
    </td>
  </tr>
  <tr>
    <td>Conjoint</td>
    <td>

    </td>
  </tr>
</table>
<h3>Adresses</h3>
<p>
  Liste de toutes les adresses ici.

</p>
<table class="table">

<h3>Enfants</h3>
<table class="table">
  <% @client.enfants.each do |enfant|
  %>
    <tr>
      <td><%= enfant.nom %>
      </td>
      <td><%= enfant.prenom %>
      </td>
      <td><%= enfant.datenaissance %>

      </td>
    </tr>
  <% end %></table>
<h3>Etats civils</h3>
  <table class="table">
    <% @client.etat_civils.each do |etat|
    %>
      <tr>
        <td><%= etat.typee %>
        </td>
      </tr>
    <% end %></table>
<h3>Employeurs</h3>
<table class="table">
  <% @client.employeurs.each do |employeur|
  %>
    <tr>
      <td><%= employeur.nom %>
      </td>
    </tr>
  <% end %></table>
<h3>Études</h3>
<table class="table">

</table>
<h3>Institutions</h3>
<table class="table">
 </table>

<%= link_to 'Edit', edit_client_path(@client) %> | <%= link_to 'Back', clients_path %>